*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body{
  height: 100%;
  width: 100%;
}
.footer{
  background-color: blueviolet;
  padding: 20px;
}
.navbar{
  background-color: aqua;
  padding: 10px;
}